.Home{
background-image: url('./images/r&mbackground.jpeg');
background-size: cover;
height: 850px; 
background-repeat: no-repeat; 
background-attachment: fixed;
} 

.saying1{
  text-align: right;
  margin-top: 50px;
}
/* .saying2{

}
.saying3{

} */

.welcome-button{
align-items: center;
margin-top: 100px;
margin-left: 650px;
color:black;
border: 4px solid rgba(92, 92, 92, 0.831);
border-radius: 0px;
padding: 18px 36px;
display: inline-block;
font-family: "Lucida Console", Monaco, monospace;
font-size: 14px;
letter-spacing: 1px;
cursor: pointer;
box-shadow: inset 0 0 0 0 #919191;
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
}

.welcome-button:hover {
box-shadow: inset 400px 0 0 0 #6f6f6f;
}
